body {
  background-color: lightgray;

  /* Extra Small Devices, Phones */
  @media only screen and (min-width: 360px){
    background-color: blue; /* For testing purposes */

    .p {
    justify-content: center;
    }

    .grid {
      margin: auto 5%;
      grid-template-columns: (4, 21vw);
      font-size: 15px;
    }

    .cell {
      width: 22vw;
      /* background-color: cyan; */
/*       border-color:black;
      border-style:solid;
      border-width:thin; */
    }

    .round-button {
      width: 1.2vw;
      height: 2vw;
    }

  }

  /* Medium Small Devices, Phones */

/*
  @media only screen and (min-width: 600px) {
    background-color: green;
    .grid {
      margin: auto 5%;
      grid-template-columns: (4, 21vw);
      font-size: 15px;
    }

    .cell {
      width: 23vw;
      background-color: cyan;
    }

    .round-button {
      width: 15px;
      height: 15px;
    }

  }

  /* Tablets etc */
  /*
  @media only screen and (min-width: 768px) {

    .grid {
      margin: auto 5%;
      grid-template-columns: repeat(4, 90vw);
      font-size: 15px;
    }

    .cell {
      width: 23vw;
      background-color: cyan;
    }

    .round-button {
      width: 15px;
      height: 15px;
    }

  }

  /* Medium laptops */
  /*
  @media only screen and (min-width: 992px) {

    .grid {
      margin: auto 5%;
      grid-template-columns: repeat(4, 90vw);
      font-size: 15px;
    }

    .cell {
      width: 46vw;
      background-color: cyan;
    }


    .round-button {
      width: 15px;
      height: 15px;
    }

  }

  /* Larger laptops, mainframe PCs*/
  /*
  @media only screen and (min-width: 1200px) {

    .grid {
      margin: auto 5%;
      grid-template-columns: repeat(4, 95vw);
      font-size: 18px;
    }

    .cell {
      width: 22vw;
      background-color: cyan;
    }

    .round-button {
      width: 15px;
      height: 15px;
    }

  }
 */
  .grid {
    display: flex;
    flex-direction: column;
    /* Display rows vertically */
    max-width: 90%;
    height: auto;
    align-items: center;
    text-align: center;
  }

  .col-span {
    grid-column: span 3;
    background-color: lightyellow;
    text-align: center;
  }

  .row {
    display: flex;
    color: darkgoldenrod;
    height: auto;
    text-align: center;
    padding: 0;
    margin: 0;
    cursor: pointer;
    margin-bottom: 2px;
    margin-right: 2px;
    line-height: 50px;
    justify-content: center;
  }

  /* Draw a line */
  p {
    text-align: center;

    hr {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .cell {
    color: darkgoldenrod;
    background: cyan;
    height: auto;
    text-align: center;
    padding: 0;
    margin: 0;
    border-color:black;
    border-style:solid;
    border-width:thin;
    cursor: pointer;
    margin-bottom: 2px;
    margin-right: 2px;
    line-height: 50px;
    box-sizing: border-box;
    justify-content: center;
    font-weight: bold;
    border-radius: 8px;
  }

  .p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: darkslategrey;
    justify-content: center;
  }

  /* button */
  #submit {
    border-radius: 8px;
    border: 1px solid black;
    height: auto;
    width: 130px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-left: 50px;
  }

  .leftText {
    p {
      white-space: pre-line;
    }

    font-family: Arial,
    sans-serif;
    font-size: 13px;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  /* Styling for the round buttons */
  .round-button {
    border-radius: 50%;
    margin: 0 5px;
    border: thin;
    padding: 5px;
    font-size: 16px;
    background-color: black;
  }

  #blob1 {
    top: 65%;
  }

  #blob2 {
    top: 65%;
  }

  #blob3 {
    top: 65%;
  }

  #blob4 {
    top: 65%;
  }

  #blob5 {
    top: 65%;
  }

  #deselect {
    border-radius: 8px;
    border: 1px solid black;
    margin-right: 50px;
    height: auto;
    width: 130px;
    font-family: Arial, sans-serif;
    font-size: 18px;
  }
}