/* CSS for a 4x4 grid with cyan background */
@media only screen and (min-device-width : 320px) and (max-device-width : 479px) {
    body {
      background: green;
      width: 50%;
    }
  }
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    width: 50pc; /* Adjust as needed */
    margin: 0 auto; /* Center the grid horizontally */
   }
   
   .word {
    color: darkgoldenrod; /* Text color */
    height: 15%;
    text-align: center; /* Center align text */
    padding: 10px; /* Padding for each word */
    cursor: pointer; /* Cursor style */
    border: 1px solid black; /* Border for each word */
    background-color: cyan;
    margin-bottom: 7px;
    margin-right: 7px;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
   }